body {
  margin: 0;
  font: League Spartan;
}
.main {
  margin: 5% 5% 2% 5%;
  padding: 10%;
  font-size: 12px;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background: url(images/bg-pattern-bottom-desktop.svg) top -20px left -50px
      no-repeat,
    url(images/bg-pattern-top-desktop.svg) bottom -700px right -300px no-repeat;
}
.brand {
  display: flex;
  justify-content: space-between;

  padding-bottom: 24px;
  align-items: center;
  width: 792px;
}

.brand .product h3 {
  margin: 0;
  font-weight: 1000;
  font-size: 28px;
  color: rgb(119, 10, 119);
}
.brand .product p {
  color: rgb(153, 114, 148);
}
.product-rating .rating_col {
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 225, 238);
  width: 240px;
  margin: 6px 0 6px 0;
  border-radius: 6px;
  text-align: center;
  align-items: center;
  padding: 0 8px 0 8px;
}

.product-rating .rating_col p {
  font-size: 10px;
}
.product-rating .rating_col1 {
  position: relative;
  right: 32px;
}
.product-rating .rating_col2 {
  position: relative;
  right: 16px;
}
.review {
  display: flex;
  gap: 12px;
}
.review_section {
  background-color: rgb(73, 5, 73);
  border-radius: 6px;
  padding: 8px;
  overflow: hidden;
  color: rgb(153, 114, 148);
  width: 240px;
}
.review_section .user {
  display: flex;
  gap: 4px;
  align-items: center;
  text-align: center;
}
.review_section .user p {
  margin-left: 8px;
}
.review_section .user p span {
  color: rgba(202, 0, 135, 0.836);
}
.review_section .user img {
  border-radius: 50%;
}
.review .col2 {
  position: relative;
  top: 8px;
}
.review .col3 {
  position: relative;
  top: 16px;
}

.attribution {
  margin: 12px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media screen and (max-width: 948px) {
  .main {
    padding: 2%;
    padding-bottom: 4%;
  }
  .brand {
    flex-direction: column;
    gap: 10px;
    padding: 5%;
    width: auto;
  }
  .review {
    flex-direction: column;
  }
  .rating_col {
    display: flex;
    flex-direction: column;
  }
  .product-rating .rating_col {
    position: static;
  }
}
@media screen and (max-width: 425px) {
  .main {
    padding: 2%;
    padding-bottom: 4%;
  }
  .brand {
    gap: 10px;
    width: auto;
  }
}
